body {
  background-image: url(../images/party.png);
  background-size: 1000px;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 50px;
  margin: 350px 100px;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(90deg, #00ff15 0%, #ff00bf 49%, #4f8bfc 80%, #00ff15 100%);
  border-radius: 50%;
  border-color: #5943d5;
  border-width: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  border-color: #2b9dbd;
}
button:disabled {
  border-color: #5cc581;
}
